*{
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /*Header goes here*/

  .header {
    height: 100vh;
    background-image: url('./images/HEADER.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .logo {
    width: 100px;
    margin: 40px auto 200px;
  }

  .link { 
    display: block;
    margin: 0 auto 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 18%;
    font-weight: bold;
    padding: 16px 0;
    border-radius: 20px;
    border: 2px solid black;
    font-style: italic;
    font-size: 40px;
  }

  .link:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
  }
  
  .title {
    font-size: 80px;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-style: italic;
  }

/*Main goes here*/
  .main {
    background-color: #000000dd;
  }

  .places {
    max-width: 800px ;
    margin: 0 auto;
    padding: 100px 0 0;
  }

  .cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
  }

  .cards__item {
    width: 350px;
    background-color: white;
    border: 1px solid white;
  }

  .cards__image {
    width: 100%;
    margin-bottom: 25px;
    height: 300px;
    object-fit: cover;
  }

  .cards__description {
    padding: 0 40px 60px;
  }

  .cards__title {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 8px;

  }
  .cards__price {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 50%;
    margin: 0 auto 20px;
    color: gray;
  }

  .cards__text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

/*Footer goes here*/
  .footer {
    text-align: center;
    padding: 100px 0 0;
    min-height: 300px;
    background-color: #000000;
  }

  .footer__text {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    font-style: italic;
    letter-spacing: 4px;;
    margin: 10px auto;
    border-bottom: 1px solid white;
    width: fit-content;
}